/* Applies no margin and padding as default to all elements as well as making border-box the default box-sizing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Adds background color to the entire body of the html page */
body {
    background-color: #d9dcd6;
}

/* Changed all header class types changed to html header elements */
/* Determines header padding, font, background color, and text color */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Changes header h1 to inline block and defines font size */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* This is used in the defined span with class attribute seo to change the color of selected letters to give the website title a little extra flare */
header h1 .seo {
    color: #d9dcd6;
}

/* Div changed to nav to reflect html changes focused on making the sourcecode more accessible when being reviewed */
/* Nav is given top padding and a margin to the right of the page, we also define the positioning to the right and call out font type and size */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removing any styling to the unordered list element so that only the text is shown and no bullet points or other styling icons */
header nav ul {
    list-style-type: none;
}

/* Makes list inline and adds a margin to the left of each list item */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Anchor tags changed to white and all default text decorations such as underline are removed */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraph element font size defined */
p {
    font-size: 16px;
}

/* Changed hero class attribute to figure html element to make it clear what this pertains to */
/* Defines the figure element with the image seen right after the header, the size is defined as well as margins, 
the image is also sourced via a url to one of our directories where the image is saved and background image position and size properties are selected */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This is used to position the image items in the main content either left or right, the text will fill in the remaining space */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Changed class attribute to html main element to match html and promote accessibility when overviewing sourcecode */
/* Width and display type defined with a left margin added */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Changed benefit class attribute to html aside to match div change in html */
/* Fills the remaining width we want to use not used in width and also adds padding, location definition, font type, background color, and other visual styling */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Grouped the following classes to reduce repetition */
/* Margin and font color defined */
.benefit-lead, 
.benefit-brand, 
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* h3 margin and text alignment defined */
.benefit-lead h3, 
.benefit-brand h3, 
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* image display, margins, and width attributes defined */
.benefit-lead img, 
.benefit-brand img, 
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* elements within the main sections styling defined including font type, background color, text color, margins, padding, and height of each section */
.search-engine-optimization, 
.online-reputation-management, 
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* image height defined */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/* margin and font size defined */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Changed footer class attribute to html element */
/* Footer padding, font type, and text alignment defined */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer h2 font size defined */
footer h4 {
    font-size: 20px;
}
